name: build

on:
  push:

  workflow_dispatch:

env:
  OWNER: ${{ github.repository_owner }}
  FILE: renovate
  IMAGE: ghcr.io/${{ github.repository_owner }}/renovate
  BUILDKIT_PROGRESS: plain

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    env:
      TAG: latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Init
        run: ./bin/init.sh
        shell: bash

      - name: docker-config
        uses: containerbase/internal-tools@2304a46e39979e468bda0ebd91127e008b0b0723 # v3.14.30
        with:
          command: docker-config

      - name: Build the Docker image
        run: docker buildx bake test

      - name: Test run
        run: docker compose --file docker-compose.test.yml run sut
        env:
          IMAGE: ${{ env.IMAGE }}:${{ env.TAG }}

      - name: Log into registry
        if: github.ref_name == 'main'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Publish the Docker image
        id: publish
        if: github.ref_name == 'main'
        run: |
          docker buildx bake --metadata-file /tmp/meta.json build
          jq . /tmp/meta.json
          digest=$(jq -r '.push_ghcr.["containerimage.digest"]' /tmp/meta.json)
          echo "digest=$digest" >> "$GITHUB_OUTPUT"

      - name: Sign the Docker image
        if: github.ref_name == 'main'
        run: cosign sign --yes ${{ env.IMAGE }}@${{ steps.publish.outputs.digest }}

      - name: Attest the Docker image
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        if: github.ref_name == 'main'
        with:
          subject-name: ${{ env.IMAGE }}
          subject-digest: ${{ steps.publish.outputs.digest }}
          push-to-registry: true

  release:
    needs: build

    permissions:
      contents: write

    runs-on: ubuntu-latest
    if: github.ref_name == 'main'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Init
        run: ./bin/init.sh

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          body: See https://github.com/renovatebot/renovate/releases/tag/${{ env.VERSION }} for more changes
          commit: ${{ github.sha }}
          name: ${{ env.VERSION }}
          tag: v${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
